.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}
.card {
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
ul {
    padding-left: 20px;
}
.app_card{
    display: flex;
}
.disabled {
    background-color: #f2f2f2;
    pointer-events: none;
    opacity: 0.5;
}

.column-disabled {
    background-color: #f2f2f2;
    pointer-events: none;
    opacity: 0.5;
}

.button{
    width: 150px;
    height: 75px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    border: 1px solid black;
    height: 180px;
    width: 200px;
}

.text_form{
    margin-bottom: 5px;
    list-style-type: in;
}

.title_form{
    margin-bottom: 5px;
}

ul{
    text-decoration: none;
}