<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="css/main.css">
    <script defer src="./src/vue.js"></script>
    <script defer src="./src/main.js"></script>
</head>
<body>
<div id="app">
    <div class="column">
        <h2>Карточка 1</h2>
        <div class="card" v-for="(card) in column1" >
            <h3>{{ card.title }}</h3>

        </div>
    </div>
    <div class="column">
        <h2>Карточка 2</h2>
        <div class="card" v-for="(card) in column2" >
            <h3>{{ card.title }}</h3>

        </div>
    </div>
    <div class="column">
        <h2>Карточка 3</h2>
        <div class="card" v-for="(card) in column3" >
            <h3>{{ card.title }}</h3>

        </div>
    </div>
</div>

</body>
</html>