<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="css/main.css">
    <script defer src="./src/vue.js"></script>
    <script defer src="./src/main.js"></script>
</head>
<body>
<div id="app">
    <div class="column">
        <h2>Карточка 1</h2>
        <div class="card" v-for="(card, index) in column1" :key="index">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="(item, i) in card.items" :key="i" :class="{ 'completed': item.completed }">
                    <input type="checkbox" v-model="item.completed" @change="checkCompletion(card)">
                    <label>{{ item.text }}</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="column">
        <h2>Карточка 2</h2>
        <div class="card" v-for="(card, index) in column2" :key="index">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="(item, i) in card.items" :key="i" :class="{ 'completed': item.completed }">
                    <input type="checkbox" v-model="item.completed" @change="checkCompletion(card)">
                    <label>{{ item.text }}</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="column">
        <h2>Карточка 3</h2>
        <div class="card" v-for="(card, index) in column3" :key="index">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="(item, i) in card.items" :key="i" :class="{ 'completed': item.completed }">
                    <input type="checkbox" v-model="item.completed" @change="checkCompletion(card)">
                    <label>{{ item.text }}</label>
                </li>
            </ul>
            <p v-if="card.completed">Выполнено: {{ card.completedDate }}</p>
        </div>
    </div>
</div>

</body>
</html>